main {
    display: grid;
    grid-auto-flow: column
}

article {
    text-align: justify;
    background-color: aquamarine;
}

h1 {
    background-color: bisque;
}

p {
    width: 90%;
    background-color: aqua;
}